:root{
    --cor-fundo: #01080e;
    --cor-principal: #0b0d20;
    --cor-secundaria: #212333;
    --cor-destaque: #2bdefd;
    --cor-texto: #D7F9FF;
:root{
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
    }
    body {
    
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    }
    .caixa-principal {
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    }
    
    h1 {
        background-color: rgb(106, 192, 9);border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: rgb(230, 11, 11);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;}
    
    .botoes{border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: rgb(106, 192, 9);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;}
}

body{
    background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content:center;
align-items: center;
min-height: 100vh;
}

.caixa-principal {
background-color: var(--cor-fundo);
width: 90%;
max-width: 600px;
text-align: center;
padding: 20px;
}

h1 {
color:var(--cor-destaque)
}

.caixa-alternativas {
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    }

--------------------------------------------------------------------------
ou esse código com os botões coloridos:


:root{
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
    }
    body {
    
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    }
    .caixa-principal {
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    }
    
    h1 {
    color: var(--cor-destaque);
    }
    .caixa-alternativas{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    }
    .bottom
    {border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: rgb(230, 11, 11);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;}
    
    .botoes{border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: rgb(106, 192, 9);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;}
